legacy/laf-fabric/emdros2laf/xml/graf-document.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.xces.org/ns/GrAF/1.0/" xmlns:graf="http://www.xces.org/ns/GrAF/1.0/" xmlns:xlink="http://www.w3.org/1999/xlink">
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <!--
    Schema generated from ODD source 2013-03-25T11:52:49Z. 
    Edition: 1.9.1. Last updated on March 5th 2011.
    Edition Location: http://www.tei-c.org/Vault/P5/1.9.1/
    
  -->
  <!--
    
    Copyright 2013 The American National Corpus
    
    Unmodified versions of this document may be freely redistributed
                        and used for any purpose.
  -->
  <xs:group name="graf_graf.macro.pLike">
    <xs:sequence>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="graf:graf_graf.model.pLike"/>
    </xs:sequence>
  </xs:group>
  <xs:simpleType name="graf_graf.data.numeric">
    <xs:union memberTypes="xs:double xs:decimal">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:pattern value="(\d{1,3}(,\d{3})*)"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:group name="graf_graf.model.pLike">
    <xs:sequence>
      <xs:element ref="graf:p"/>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="graf_graf.att.xmlid.required.attributes">
    <xs:attributeGroup ref="graf:graf_graf.att.xmlid.required.attribute.xmlid"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="graf_graf.att.xmlid.required.attribute.xmlid">
    <xs:attribute ref="xml:id" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="graf_graf.att.type.optional.attributes">
    <xs:attributeGroup ref="graf:graf_graf.att.type.optional.attribute.type"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="graf_graf.att.type.optional.attribute.type">
    <xs:attribute name="type" type="xs:string">
      <xs:annotation>
        <xs:documentation/>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="graf_graf.att.type.required.attributes">
    <xs:attributeGroup ref="graf:graf_graf.att.type.required.attribute.type"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="graf_graf.att.type.required.attribute.type">
    <xs:attribute name="type" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation/>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="graf_graf.att.version.attributes">
    <xs:attributeGroup ref="graf:graf_graf.att.version.attribute.version"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="graf_graf.att.version.attribute.version">
    <xs:attribute name="version" type="xs:string">
      <xs:annotation>
        <xs:documentation/>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="graf_graf.att.xlink.attributes">
    <xs:attributeGroup ref="graf:graf_graf.att.xlink.attribute.xlinkhref"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="graf_graf.att.xlink.attribute.xlinkhref">
    <xs:attribute ref="xlink:href"/>
  </xs:attributeGroup>
  <xs:group name="graf_graf.model.header">
    <xs:choice>
      <xs:element ref="graf:fileDesc"/>
      <xs:element ref="graf:revisionDesc"/>
      <xs:element ref="graf:profileDesc"/>
    </xs:choice>
  </xs:group>
  <xs:group name="graf_graf.model.fileDesc">
    <xs:choice>
      <xs:element ref="graf:titleStmt"/>
      <xs:element ref="graf:extent"/>
      <xs:element ref="graf:sourceDesc"/>
    </xs:choice>
  </xs:group>
  <xs:group name="graf_graf.model.profileDesc">
    <xs:choice>
      <xs:element ref="graf:langUsage"/>
      <xs:element ref="graf:textClass"/>
      <xs:element ref="graf:particDesc"/>
      <xs:element ref="graf:settingDesc"/>
      <xs:element ref="graf:primaryData"/>
      <xs:element ref="graf:annotations"/>
    </xs:choice>
  </xs:group>
  <xs:attributeGroup name="graf_graf.att.header.attributes">
    <xs:attributeGroup ref="graf:graf_graf.att.version.attributes"/>
    <xs:attributeGroup ref="graf:graf_graf.att.type.optional.attributes"/>
    <xs:attributeGroup ref="graf:graf_graf.att.header.attribute.docId"/>
    <xs:attributeGroup ref="graf:graf_graf.att.header.attribute.date.created"/>
    <xs:attributeGroup ref="graf:graf_graf.att.header.attribute.creator"/>
    <xs:attributeGroup ref="graf:graf_graf.att.header.attribute.date.updated"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="graf_graf.att.header.attribute.docId">
    <xs:attribute name="docId" type="xs:string">
      <xs:annotation>
        <xs:documentation>A unique identifier for the GrAF document.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="graf_graf.att.header.attribute.date.created">
    <xs:attribute name="date.created" type="xs:string">
      <xs:annotation>
        <xs:documentation>The date the GrAF document was created formatted according to ISO 8601:2004</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="graf_graf.att.header.attribute.creator">
    <xs:attribute name="creator" type="xs:string">
      <xs:annotation>
        <xs:documentation>The name of the person responsible for the creation of the GrAF document.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="graf_graf.att.header.attribute.date.updated">
    <xs:attribute name="date.updated" type="xs:string">
      <xs:annotation>
        <xs:documentation>The date, if any, the GrAF document was last updated formatted according to ISO 8601:2004</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:group name="graf_graf.model.sourceDesc">
    <xs:choice>
      <xs:element ref="graf:documentation"/>
      <xs:element ref="graf:source"/>
      <xs:element ref="graf:distributor"/>
      <xs:element ref="graf:edition"/>
      <xs:element ref="graf:idno"/>
      <xs:element ref="graf:publisher"/>
      <xs:element ref="graf:pubAddress"/>
      <xs:element ref="graf:eAddress"/>
      <xs:element ref="graf:pubDate"/>
      <xs:element ref="graf:pubName"/>
      <xs:element ref="graf:pubPlace"/>
    </xs:choice>
  </xs:group>
  <xs:group name="graf_graf.model.textClass">
    <xs:choice>
      <xs:element ref="graf:subject"/>
      <xs:element ref="graf:genre"/>
      <xs:element ref="graf:domain"/>
      <xs:element ref="graf:subdomain"/>
      <xs:element ref="graf:factuality"/>
      <xs:element ref="graf:preparedness"/>
      <xs:element ref="graf:purpose"/>
      <xs:element ref="graf:audience"/>
    </xs:choice>
  </xs:group>
  <xs:element name="p" type="xs:string">
    <xs:annotation>
      <xs:documentation>a paragraph. Contains text only.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="fileDesc">
    <xs:annotation>
      <xs:documentation>Description of a resource.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="graf:graf_graf.model.fileDesc"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="titleStmt">
    <xs:annotation>
      <xs:documentation>Title and related information.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="graf:title"/>
        <xs:choice>
          <xs:element ref="graf:author"/>
          <xs:element ref="graf:funder"/>
          <xs:element ref="graf:respStmt"/>
        </xs:choice>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="title" type="xs:string">
    <xs:annotation>
      <xs:documentation>Title of the primary data document.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="author">
    <xs:annotation>
      <xs:documentation>The name of a single author. Use multiple &lt;author&gt;
                            elements for multiple authors.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attribute name="age" type="xs:string">
        <xs:annotation>
          <xs:documentation>The age of the author, if known.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="sex" type="xs:string">
        <xs:annotation>
          <xs:documentation>The gender of the author, if known.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="funder">
    <xs:annotation>
      <xs:documentation>Entity or agency providing fundion for the creation of the resource.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="graf:graf_graf.att.type.optional.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="respStmt">
    <xs:annotation>
      <xs:documentation>Responsibility declarations.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="graf:resp"/>
      </xs:sequence>
      <xs:attributeGroup ref="graf:graf_graf.att.xlink.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="resp">
    <xs:annotation>
      <xs:documentation>Entity or individual that created the resource. The @xlink:href
                        attribute is used to provide a PID of the entity or individual that created the resource.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="graf:graf_graf.att.xlink.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="extent">
    <xs:annotation>
      <xs:documentation>Provides a measure of the size of the artifact being annotated.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="count" type="graf:graf_graf.data.numeric">
        <xs:annotation>
          <xs:documentation>The size of the resource.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="unit" type="xs:string">
        <xs:annotation>
          <xs:documentation>Unit in which the size of the resource is expressed (words, bytes, tokens, etc.)</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="revisionDesc">
    <xs:annotation>
      <xs:documentation>Documentation of revisions.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="graf:change"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="change">
    <xs:annotation>
      <xs:documentation>Information about a particular change to the document.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="graf:changeDate"/>
        <xs:element ref="graf:respName"/>
        <xs:element maxOccurs="unbounded" ref="graf:item"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changeDate">
    <xs:annotation>
      <xs:documentation>The date this revision was made. The value of the 
                            date can be placed in the @value attribute or the text
                            content of the element. If both values are included @value
                            attribute takes precedence. The date should be formatted
                            accorting to ISO 8601:2004.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attribute name="value" type="xs:string">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="respName" type="xs:string">
    <xs:annotation>
      <xs:documentation>Identification of the person responsible for the change.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="item" type="xs:string">
    <xs:annotation>
      <xs:documentation>Description of the change.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="documentHeader">
    <xs:annotation>
      <xs:documentation>root element of the document header.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:group maxOccurs="unbounded" ref="graf:graf_graf.model.header"/>
      <xs:attributeGroup ref="graf:graf_graf.att.header.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="sourceDesc">
    <xs:annotation>
      <xs:documentation>Information about the provenance of the document.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="graf:title"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="graf:author"/>
          <xs:group ref="graf:graf_graf.model.sourceDesc"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="documentation">
    <xs:annotation>
      <xs:documentation>A URL to user supplied documentation.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="graf:graf_graf.att.type.optional.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="source">
    <xs:annotation>
      <xs:documentation>The source of the document. The source may be disctinct from the
                        author, publisher, and distributor.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="graf:graf_graf.att.type.optional.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="distributor">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="graf:graf_graf.att.type.optional.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="edition" type="xs:string">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
  </xs:element>
  <xs:element name="idno">
    <xs:annotation>
      <xs:documentation>An id number of some type.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="graf:graf_graf.att.type.optional.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="publisher">
    <xs:annotation>
      <xs:documentation>Publisher, distributor, agency ("self" for individuals)</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="graf:graf_graf.att.type.optional.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="pubAddress" type="xs:string">
    <xs:annotation>
      <xs:documentation>address of the publisher</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="eAddress">
    <xs:annotation>
      <xs:documentation>an electronic address.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="graf:graf_graf.att.type.optional.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="pubDate">
    <xs:annotation>
      <xs:documentation>The date of the original publication in ISO 8601 format.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attribute name="value" type="xs:string">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="pubName" type="xs:string">
    <xs:annotation>
      <xs:documentation>The name of the publisher.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="pubPlace" type="xs:string">
    <xs:annotation>
      <xs:documentation>The place of publication</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="profileDesc">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:complexType>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="graf:graf_graf.model.profileDesc"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="langUsage">
    <xs:annotation>
      <xs:documentation>description of the languages used in the document.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="graf:language"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="language">
    <xs:annotation>
      <xs:documentation>Language(s) of the primary data.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attribute name="iso639" use="required" type="xs:NCName">
        <xs:annotation>
          <xs:documentation>ISO 639 language code.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="textClass">
    <xs:annotation>
      <xs:documentation>text classification of the primary data.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="graf:graf_graf.model.textClass"/>
      <xs:attribute name="catRef" use="required" type="xs:string">
        <xs:annotation>
          <xs:documentation>One or more categories defined in the resource header.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="subject" type="xs:string">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
  </xs:element>
  <xs:element name="genre" type="xs:string">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
  </xs:element>
  <xs:element name="domain">
    <xs:annotation>
      <xs:documentation>Domain specification, possible from a closed list of values.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="graf:graf_graf.att.type.optional.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="subdomain">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="graf:graf_graf.att.type.optional.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="factuality">
    <xs:annotation>
      <xs:documentation>@type attribute must be one of fiction or nonfiction.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:group ref="graf:graf_graf.macro.pLike"/>
      <xs:attributeGroup ref="graf:graf_graf.att.type.required.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="preparedness">
    <xs:annotation>
      <xs:documentation>E.g. prepared (most written data), none (spontaneous or unprepared), scripted (follows a script), etc.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:group ref="graf:graf_graf.macro.pLike"/>
      <xs:attributeGroup ref="graf:graf_graf.att.type.required.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="purpose">
    <xs:annotation>
      <xs:documentation>Goal of the discourse</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:group ref="graf:graf_graf.macro.pLike"/>
      <xs:attributeGroup ref="graf:graf_graf.att.type.required.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="audience">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:group ref="graf:graf_graf.macro.pLike"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="particDesc">
    <xs:annotation>
      <xs:documentation>description of the participants in a discourse.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="graf:person"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="person">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="graf:graf_graf.att.xmlid.required.attributes"/>
      <xs:attribute name="age" type="xs:string">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="role" type="xs:string">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="sex" type="xs:string">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="settingDesc">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="graf:setting"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setting">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:choice>
        <xs:group ref="graf:graf_graf.macro.pLike"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="graf:time"/>
          <xs:element ref="graf:activity"/>
          <xs:element ref="graf:locale"/>
        </xs:choice>
      </xs:choice>
      <xs:attribute name="who" type="xs:IDREFS">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="time">
    <xs:annotation>
      <xs:documentation>The time of the recording. The time value should be placed
                        as the element content and and formatted accoring to ISO 8601:2004 </xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:group ref="graf:graf_graf.macro.pLike"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="activity">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:group ref="graf:graf_graf.macro.pLike"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="locale">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:group ref="graf:graf_graf.macro.pLike"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="primaryData">
    <xs:annotation>
      <xs:documentation>The location or PID of the primary data document.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="loc" use="required" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation>Relative path or PID of the primary data document.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="loctype">
        <xs:annotation>
          <xs:documentation>Indicates whether the primary data path is a relative
                                URI or a PID (persistent identifier). Default is relative.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="f.id" use="required" type="xs:string">
        <xs:annotation>
          <xs:documentation>File type id. References a file type defined in the resource header.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="annotations">
    <xs:annotation>
      <xs:documentation>The annotations included with the primary data.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="graf:annotation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="annotation">
    <xs:annotation>
      <xs:documentation>Location and type information for a single standoff
                        annotation file. The @type attribute must refer to one of the
                        file types defined in the corpus header.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attribute name="f.id" use="required">
        <xs:annotation>
          <xs:documentation>reference to a file type defined in the resource header.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="loc" use="required" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation>The location or PID of the standoff annotation file.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="loctype">
        <xs:annotation>
          <xs:documentation>Indicates whether the @loc is a relative URL or PID. Default is relative.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>
